.introduction {
  height: 100vh;
  width: 100vw;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: fixed;
  z-index: 99;
  // background-color: #141516;
  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
    path {
      //   fill: #eb489a;
    }
  }
}
